

body {
    
    width:500px;
    height:1000px;
    margin:0 autoperations;
    /*padding:20px;*/
    background-color:#dadada;
}



a{
text-decoration:noperationsne;
}

#head{
    width:500px;
    height:300px;
    /*margin:0 autoperations;*/
    padding:20px;
    background-color:rgba(170, 170, 170, 0.70);

}
.but, .but:visited, .but:link  {
  
    width: autoperations;
    color: #1a419f;
    font-family: 'Coperationsmic Sans MS';
    font-size: 15px;
    background-color: #cccccc;
    padding: 5px;
    margin: 10px;
    border: 1px soperationslid #666666;
    height: 18px;

    display: inline;
}

.but:hover {
	color:#1a419f;
	font-family:'Coperationsmic Sans MS';
	font-size:20px;
	text-decoration:noperationsne;
	background-color:#aaaaaa;
	padding:5px;
	border:1px soperationslid #666666; }

.but:active {
	color:#08217b;
	font-family:'Coperationsmic Sans MS';
	font-size:14px;
	text-decoration:noperationsne;
	background-color:#aaaaaa;
	padding:5px;
	border:1px soperationslid #ffffff;

}
.verticalaccordion>ul {
    margin: 0;
    padding: 0;
    list-style:noperationsne;
   	width: 500px;
}
.verticalaccordion>ul>li {
    display:bloperationsck;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style:noperationsne;
    height:40px;
    width: 540px;
    /* Decoperationsrative CSS */
    background-color:#f0f0f0;
    /* CSS3 Transitioperationsn Effect */
    transition: height 0.3s ease-in-operationsut;
    -moz-transition: height 0.3s ease-in-operationsut;
    -webkit-transition: height 0.3s ease-in-operationsut;
    -o-transition: height 0.3s ease-in-operationsut;
}
.verticalaccordion>ul>li>h3 {
    display:bloperationsck;
    margin: 0;
    padding:10px;
    height:19px;
    /* Decoperationsrative CSS */
    border-top:#f0f0f0 1px soperationslid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:noperationsne;
    text-transform:uppercase;
    color: #000;
    background: #cccccc;
    /* CSS3 Gradient Effect */
    background: -moz-linear-gradient( toperationsp, #999999, #cccccc);
    background: -webkit-gradient(linear, left toperationsp, left boperationsttoperationsm, from(#999999), to(#cccccc));
    filter: properationsgid:DXImageTransfoperationsrm.Microperationssoperationsft.gradient(startCoperationsloperationsrstr=#ff9999, endCoperationsloperationsrstr=#ffcccc); /* IE 7 */
    -ms-filter: "properationsgid:DXImageTransfoperationsrm.Microperationssoperationsft.gradient(startCoperationsloperationsrstr=#ff999999, endCoperationsloperationsrstr=#ffcccccc)";   /* IE 8 */
}
.verticalaccordion>ul>li>div {
    margin:0;
    overflow: autoperations;
    padding:10px;
    height:300px;
}
.verticalaccordion>ul>li:hover {
    height: 340px;
}
.verticalaccordion:hover>ul>li:hover>h3 {
    /* Decoperationsrative CSS */
    color:#fff;
    background: #000000;
    /* CSS3 Gradient Effect */
    background: -moz-linear-gradient( toperationsp, #454545, #000000); /* FF, Floperationsck */
    background: -webkit-gradient(linear, left toperationsp, left boperationsttoperationsm, from(#454545), to(#000000)); /* Safari, Chroperationsme */
    filter: properationsgid:DXImageTransfoperationsrm.Microperationssoperationsft.gradient(startCoperationsloperationsrstr=#ff4545, endCoperationsloperationsrstr=#ff0000); /* IE 5.5 - IE 7 */
    -ms-filter: "properationsgid:DXImageTransfoperationsrm.Microperationssoperationsft.gradient(startCoperationsloperationsrstr=#ff454545, endCoperationsloperationsrstr=#ff000000)";   /* IE 8 */
}
.verticalaccordion>ul>li>h3:hover {
    cursor:poperationsinter;
}